:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  font-family: 'Roboto', sans-serif;
  color: white;
}
.container {
  width: 100%;
  margin: 0;
  padding-left: 30px;
}
header .container {
  display: flex;
  align-items: flex-start;
  position: fixed;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.808) 0%,
    rgba(27, 27, 27, 0.082) 100%
  );
}

#logo img {
  margin-left: 0px;
  margin-top: 10px;
  height: 30px;
}

header nav a {
  text-decoration: none;
  color: #aaaaaa;
  margin-right: 10px;
}

header nav a:hover {
  color: rgb(180, 173, 173);
  font-weight: bolder;
}

nav {
  margin-left: 20px;
  padding: 10px;
}

/*filme*/

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9) 100%),
    url('/img/capa-Mulher-Maravilha.jpg');

  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

.container {
  margin-left: 30px;
}

#logo {
  cursor: pointer;
}
.descricao {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: justify;
}

.titulo {
  margin-top: 15%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(180, 173, 173);

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}
.botao i {
  margin-right: 5px;
}

.filme-principal .container {
  width: 40%;
}

.box-filme {
  height: 20%;
  width: 20%;
  display: block;
  position: relative;
}

.box-filme ::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.carrossel-filmes {
  margin-top: 2px;
}
